flows_Matrix.json
[{"id":"1e0115ce.b2ae6a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"83dc9f2c.e9d7e","type":"git-nodes-config","z":"","name":"node-red-test","git":"git@github.com:Nayalison/node-red-test.git"},{"id":"c4120064.4018c","type":"git-nodes","z":"1e0115ce.b2ae6a","label":"node-red-test","branch":"master","sourcebranch":"master","gitadd":"settings.js,package.json,.config.json,lib","gitrmcache":"nodes/*/x,nodes/*/y,nodes/*/z","debugging":true,"git":"83dc9f2c.e9d7e","x":360,"y":440,"wires":[]},{"id":"503a2616.f8d728","type":"http in","z":"1e0115ce.b2ae6a","name":"[GET] /authorization","url":"/authorization","method":"get","upload":false,"swaggerDoc":"","x":220,"y":160,"wires":[["768ada25.4954f4"]]},{"id":"768ada25.4954f4","type":"template","z":"1e0115ce.b2ae6a","name":"authorization template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":500,"y":160,"wires":[["8bac884c.cf56f8"]]},{"id":"8bac884c.cf56f8","type":"http response","z":"1e0115ce.b2ae6a","name":"authorization response","statusCode":"200","headers":{},"x":780,"y":160,"wires":[]},{"id":"e8faa874.9ac888","type":"http in","z":"1e0115ce.b2ae6a","name":"[POST] /idp","url":"/idp","method":"post","upload":false,"swaggerDoc":"","x":200,"y":260,"wires":[["a98b64e1.193768"]]},{"id":"a98b64e1.193768","type":"template","z":"1e0115ce.b2ae6a","name":"idp template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":460,"y":260,"wires":[["cca89e94.0c6d1"]]},{"id":"cca89e94.0c6d1","type":"http response","z":"1e0115ce.b2ae6a","name":"idp response","statusCode":"200","headers":{},"x":730,"y":260,"wires":[]}]